[Unit]
Description=Forward lock of session to %I
RefuseManualStart=true

[Service]
ExecStart=/usr/bin/lock-forward --debug %I

[Install]
WantedBy=default.target
